<%- include("partials/header"); -%>
<h1>Time Table</h1>
<table>
    <tr>
        <th>Subject</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    <%for(var i=0;i<scheduleLecture.length;i++){%>
        <tr>
            <td><%= scheduleLecture[i].subject%></td>
            <td><%= scheduleLecture[i].startTime%></td>
            <td><%= scheduleLecture[i].endTime%></td>
        </tr>
    <%}%>
</table>
<!-- <button class="btn btn-primary"><a href="/studentData">Back</a></button> -->
<%- include("partials/footer"); -%>